.MyCarousel {
    background-color: bisque;
    display: flex;
    overflow-x: scroll;
    /* scroll-behavior: auto; */
    /* height: 10em; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-items: center; */
    
    
}

.MyCarousel > div{
    flex: 1 0 auto;
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
    justify-content: center;
    /* align-content: center; */
    /* justify-self: center; */
    min-width: 150px;
    align-items: center;
    background-color: aquamarine;
    display: flex;
    cursor: pointer;
}