.Layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* width: 100%; */
    flex: 1;
}

.Layout header {
    background-color: aqua;
    /* align-self: stretch; */
    padding: 25px;
    flex: 1 100px;
    /* box-sizing: content-box; */
    width: 100%;
}

.Layout header h1 {
    font-size: 5em;
}

.Layout section {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
    /* flex: 1; */
    /* padding: 50px; */
    /* width: 100%; */
    /* background-color: black; */
}



.Layout aside {
    /* width: 250px; */
    /* flex: 1 0 auto; */
    background-color: blueviolet;
    padding: 50px;
    line-height: 1.5em;
    /* width: 30%; */

}

.Layout main {
    /* flex: 3 0 auto; */
    padding: 100px;
    background-color: brown;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* width: 70%; */

}

.Layout footer {
    background-color: aquamarine;
    padding: 25px;
    flex: 1;
    width: 100%;

}

@media all and (min-width: 500px) {
       
    .Layout section {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex: 1;
    }

    .Layout aside {
        /* width: 250px; */
        /* flex: 1 0 auto; */
        background-color: blueviolet;
        padding: 50px;
        line-height: 1.5em;
        /* width: 30%; */
    
    }
    
    .Layout main {
        /* flex: 3 0 auto; */
        padding: 100px;
        background-color: brown;
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        /* width: 70%; */
    
    }

    .Layout .boxContent {
        background-color: bisque;
        display: flex;
        height: 10em;
        overflow-y: scroll;
        /* align-items: center; */
        
    }

    .Layout .boxContent > div{
        flex: 1 0 auto;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        display: flex;
    }
    
}